{% extends "index.html" %}
{% block menu %}
                  <li><a href="/sinus/">Dokumentdatabasen</a></li>
                  <li class="active"><a href="/sinus/explore">Utforska  ord</a></li>
{% endblock %}


{% block content %}
      
      {% if data['synonyms'] %}
      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-primary">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">Förslag på ord att söka mot</h3>
    		  </div>
    		  <div class="panel-body">
        		  <div class="input-group">
    		      <input type="text" class="form-control" value="{{ data['synonyms'] }}"  id="queryInput" name="queryInput">
    		      <span class="input-group-btn">
    		        <button class="btn btn-default" type="submit">Kör</button>
    		      </span>
    		      </div><!-- /input-group -->
    		          		   
    		  
 
    		  </div>
          </div>
          </div>
      </div>       
      {% endif %}

      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">Ord med hög platsighet (filterat för svenska ortsnamn, entropi innom parantes)</h3>
    		  </div>
    		  <div class="panel-body">
		     
    		  {% for word, entropy in data['totEntWords'] %} <a href="/sinus/explore/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %}
 
    		  </div>
          </div>
          </div>
      </div>      

      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">Ord med hög förändring i tidsserien mellan <b>första och sista 10 %</b> av posterna (entropi inom parantes)</h3>
    		  </div>
    		  <div class="panel-body">
    		  {% for word, entropy in data['deltaEnt10Words'] %} <a href="/sinus/explore/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %} 
    		
    		  </div>
          </div>
          </div>
      </div>  

      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ord med hög förändring i tidsserien mellan <b>första och sista 20 %</b> av posterna (entropi inom parantes)</h3>
              </div>
              <div class="panel-body">
              {% for word, entropy in data['deltaEnt20Words'] %} <a href="/sinus/explore/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %} 
            
              </div>
          </div>
          </div>
      </div>  

      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ord med hög förändring i tidsserien mellan <b>första och sista 30 %</b> av posterna (entropi inom parantes)</h3>
              </div>
              <div class="panel-body">
              {% for word, entropy in data['deltaEnt30Words'] %} <a href="/sinus/explore/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %} 
            
              </div>
          </div>
          </div>
      </div>  


      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ord med hög förändring i tidsserien mellan <b>första och sista 40 %</b> av posterna (entropi inom parantes)</h3>
              </div>
              <div class="panel-body">
              {% for word, entropy in data['deltaEnt40Words'] %} <a href="/sinus/explore/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %} 
            
              </div>
          </div>
          </div>
      </div>  

      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Ord med hög förändring i tidsserien mellan <b>första och sista 50 %</b> av posterna (entropi inom parantes)</h3>
              </div>
              <div class="panel-body">
              {% for word, entropy in data['deltaEnt50Words'] %} <a href="/sinus/explore/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %} 
            
              </div>
          </div>
          </div>
      </div>  
{% endblock %}


