{% extends "index.html" %}
{% block menu %}
                  <li><a href="/sinus/">Dokumentdatabasen</a></li>
                  <li><a href="/sinus/explore">Utforska  ord</a></li>
                  <li class="active"><a href="/sinus/byod">Karta från egen data</a></li>
{% endblock %}


{% block content %}
      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-primary">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">Ladda upp excellfil</h3>
    		  </div>
    		  <div class="panel-body">
        		  <div class="input-group">
    		      <input type="text" class="form-control" value=""  id="queryInput" name="queryInput">
    		      <input type=file name=file>
    		      <span class="input-group-btn">
    		        <button class="btn btn-default" type="submit">Kör</button>
    		      </span>
    		      </div><!-- /input-group -->
    		          		   
    		  
 
    		  </div>
          </div>
          </div>
      </div>       
{% endblock %}


