{% extends "index.html" %}
{% block menu %}
                  <li><a href="/sinus/">Dokumentdatabasen</a></li>
                  <li><a href="/sinus/explore">Utforska  ord</a></li>
                  <li class="active"><a href="/sinus/byod">Karta från egen data</a></li>
{% endblock %}


{% block content %}
      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-primary">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">Ladda upp excellfil</h3>
    		  </div>
    		  <form action="/sinus/byod" method="post" enctype="multipart/form-data">
    		  <div class="panel-body">
        		  <div class="input-group">
    		      <input type=file name=file><br />
    		      <input type="text" class="form-control" placeholder="Sökord, &quot;ett utryck&quot;, xbins: auto, scatter: 0, zoom: 0, rankthreshold: 3, binthreshold: 5"  id="queryInput" name="queryInput" value="">
    		      <span class="input-group-btn">
    		        <button class="btn btn-default" type="submit">Kör</button>
    		      </span>
    		      </div><!-- /input-group -->
    		  </form>
    		          		   
    		  
 
    		  </div>
          </div>
          </div>
      </div>       
{% endblock %}


