{% extends "index.html" %}
{% block menu %}
                  <li><a href="/sinus/">Dokumentdatabasen</a></li>
                  <li class="active"><a href="/sinus/explore">Utforska ord</a></li>
                  <li><a href="/sinus/byod">Karta från egen data</a></li>
{% endblock %}


{% block content %}

      <style>
        .dim {
          cursor: pointer;
        }
        .hidde {
          display: none;
        }
      </style>

      <form action="/sinus/" method="post">
      
      {% if data['synonyms'] %}
      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-primary">
    		  <div class="panel-heading">
    		    <h3 class="panel-title">Förslag på ord att söka mot</h3>
    		  </div>
    		  <div class="panel-body">
        		  <div class="input-group">
    		      <input type="text" class="form-control" value="{{ data['synonyms'] }}"  id="queryInput" name="queryInput">
    		      <span class="input-group-btn">
    		        <button class="btn btn-default" type="submit">Kör</button>
    		      </span>
    		      </div><!-- /input-group -->
    		          		   
    		  
 
    		  </div>
          </div>
          </div>
      </div>       
      {% endif %}

      {% for region, words in data.iteritems() %}   

      <div class="row">    
          <div class="col-md-12">
          <div class="panel panel-default">
    		  <div class="panel-heading">
    		    <h3 class="panel-title dim">Ord vars förekomst sticker ut för {{ region }} (procentuellt)</h3>
    		  </div>
    		  <div class="panel-body hidden">
		     
    		  {% for word, entropy in words %} <a href="/sinus/search/{{ word }}">{{ word }}</a> ({{ '{0:0.2f}'.format(entropy) }}){% if not loop.last %},{% else %}.{% endif %} {% endfor %}
 
    		  </div>
          </div>
          </div>
      </div>  
      

      {% endfor %}    

      </form>

      <script>


      $('.dim').click(function (){
        var myUL = $(this).parents(".panel-body").toggleClass("showme");
      });
      </script>
{% endblock %}


